<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

    </head>
    <body>

        <div class="pos-toggle">
            <div id="toggle-file-type">
                <p>.json</p>
                <label class="switch">
                    <input onclick="alternar_tipo_arquivo()" type="checkbox" id="toggle" checked>
                    <span class="slider round"></span>
                </label>
                <p>.csv</p>
            </div>
        </div>


        <div class="centraliza">
            <div class="painel_arquivos">
                <hr class="linha_painel"/>
                <form id="envioArquivos" >
                    <div class="json">
                        <h3>Enviar arquivo do tipo json com os dados:</h3>

                        <p class="label-file">Disciplinas:</p>
                        <div class="label-input-file">
                            <label for="disciplinas" class="label-selecao-arquivo botao">Selecionar arquivo</label>
                            <input type="file" 
                            id="disciplinas" 
                            class="botao-selecao-arquivo"
                            name="disciplinas" 
                            accept=".json">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Docentes:</p>
                        <div class="label-input-file">
                            <label for="docentes" class="label-selecao-arquivo botao">Selecionar arquivo</label>
                            <input 
                            type="file" 
                            id="docentes" 
                            class="botao-selecao-arquivo"
                            name="docentes" 
                            placeholder="Escolher" 
                            accept=".json">
                            <div>Arquivo selecionado</div>
                        </div>

                        <div class="botoes-de-solucao">
                            <input type="submit" value="Enviar arquivos" class="botao">
                            <button onclick="solver()" class="botao">Resolver</button>
                        </div>
                        
                        <label class="download-label" for="export">Download json da distribuição desse semestre:</label><br>
                        <a class="botao" href="{{url_for('Download_File', tipo_arquivo = 'json')}}">Download</a>
                    </div>

                    <div class="csv">
                        <h3>Enviar arquivo do tipo csv com os dados:</h3>

                        <p class="label-file">Docentes no próximo semestre:</p>
                        <div class="label-input-file">
                            <label for="docentes_csv" class="botao" 
                                ondragover="arquivo_emcima(this)" 
                                ondragleave="arquivo_nao_emcima(this)"
                                ondrop="arquivo_caiu(event)"
                                >Selecionar arquivo</label>
                            <input type="file" id="docentes_csv" name="docentes_csv" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Disciplinas no próximo semestre:</p>
                        <div class="label-input-file">
                            <label for="disciplinas_prox" class="botao">Selecionar arquivo</label>
                            <input type="file" id="disciplinas_prox" name="disciplinas_prox" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Quantidades do final do ultimo semestre:</p>
                        <div class="label-input-file">
                            <label for="ultimo_semestre" class="botao">Selecionar arquivo</label>
                            <input type="file" id="ultimo_semestre" name="qtd_fim_ultimo_semestre" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Preferencias:</p>
                        <div class="label-input-file">
                            <label for="preferencias" class="botao">Selecionar arquivo</label>
                            <input type="file" id="preferencias" name="preferencias" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Ultimo semestre:</p>
                        <div class="label-input-file">
                            <label for="ultimo_semestre" class="botao">Selecionar arquivo</label>
                            <input type="file" id="ultimo_semestre" name="ultimo_semestre" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Penultimo semestre:</p>
                        <div class="label-input-file">
                            <label for="penultimo_semestre" class="botao">Selecionar arquivo</label>
                            <input type="file" id="penultimo_semestre" name="penultimo_semestre" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <p class="label-file">Antipenultimo semestre:</p>
                        <div class="label-input-file">
                            <label for="antipenultimo_semestre" class="botao">Selecionar arquivo</label>
                            <input type="file" id="antipenultimo_semestre" name="antipenultimo_semestre" class="botao-selecao-arquivo"  accept=".csv">
                            <div>Arquivo selecionado</div>
                        </div>

                        <div class="botoes-de-solucao">
                            <input type="submit" value="Enviar arquivos" class="botao">
                            <button onclick="solver()" class="botao">Resolver</button>  
                        </div>

                        <label class="download-label" for="export">Download csv da distribuição desse semestre:</label><br>
                        <a class="botao" href="{{url_for('Download_File', tipo_arquivo = 'csv')}}" >Download</a>
                    </div>
                </form>
                

                
                <div id="presenca-de-arquivo">
                    <div class="json">
                        <div class="ausente"><img src="static/X.svg" />Arquivo de disciplina ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de docentes ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de solução ausente</div>
                    </div>
                    <div class="csv">
                        <div class="ausente"><img src="static/X.svg" />Arquivo de professores ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de disciplinas no próximo semestre ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de quantidades do final do ultimo semestre ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de preferencias ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de ultimo semestre ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de penultimo semestre ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de antipenultimo semestre ausente</div>
                        <div class="ausente"><img src="static/X.svg" />Arquivo de solução da otimização ausente</div>
                    </div>
                </div>
            </div>
            
            <div id="dados_solucao">
                <h3>Dados da otimização encontrada:</h3>
            </div>
            <div class="config-tab">
                <div>
                    <label for="nome_docentes">Choose a teacher:</label>
                    <select name="nome_docentes" id="nome_docentes"></select> 
                </div>
                <label for="nome_docentes">Mostrar infrações
                    <input onclick="alternar_mudanca_conflito()" type="checkbox" id="mostra_conflito" checked>
                </label>
            </div>
            <div>
                <table id="horario"></table>
            </div>
        
            <div>
                <h3>Preferencias atendidas e não atendidas:</h3>
                <div id="tabela_preferencias"></div>
            </div>
        
            <div>
                <h3>Lista de disciplinas que estão liberadas:</h3>
                <ul id="disciplinas_estao_liberadas"></ul>
            </div>
            
            <div>
                <h3>Lista de disciplinas que serão liberadas:</h3>
                <ul id="disciplinas_serao_liberadas"></ul>
            </div>
        </div>
        
        <script type="text/javascript" src="static/script.js" ></script>
    </body>
</html>